<template>
  <div class="components-input-demo-presuffix">
    <!---->
    <a-input @click="openModal" placeholder="请点击选择分类" v-model="categoryNames" readOnly :disabled="disabled">
      <a-icon slot="prefix" type="cluster" title="分类选择控件"/>
      <a-icon v-if="categoryIds" slot="suffix" type="close-circle" @click="handleEmpty" title="清空"/>
    </a-input>

    <j-select-category-modal
      ref="innerCategorySelectModal"
      :modal-width="modalWidth"
      :multi="multi"
      :rootOpened="rootOpened"
      :category-id="categoryIds"
      @ok="handleOK"
      @initComp="initComp"/>
  </div>
</template>

<script>
  import JSelectCategoryModal from './modal/JSelectCategoryModal'
  export default {
    name: 'JSelectCategory',
    components:{
      JSelectCategoryModal
    },
    props:{
      modalWidth:{
        type:Number,
        default:500,
        required:false
      },
      multi:{
        type:Boolean,
        default:false,
        required:false
      },
      rootOpened:{
        type:Boolean,
        default:true,
        required:false
      },
      value:{
        type:String,
        required:false
      },
      disabled:{
        type: Boolean,
        required: false,
        default: false
      },
      // 自定义返回字段，默认返回 id
      customReturnField: {
        type: String,
        default: 'id'
      }
    },
    data(){
      return {
        visible:false,
        confirmLoading:false,
        categoryNames:"",
        categoryIds:''
      }
    },
    mounted(){
      this.categoryIds = this.value
    },
    watch:{
      value(val){
        if (this.customReturnField === 'id') {
          this.categoryIds = val
        }
      }
    },
    methods:{
      initComp(categoryNames){
        this.categoryNames = categoryNames
      },
      openModal(){
       
        
        this.$refs.innerCategorySelectModal.show()
      },
      handleOK(rows, idstr) {
        let value = ''
        if (!rows && rows.length <= 0) {
          this.categoryNames = ''
          this.categoryIds = ''
        } else {
          value = rows.map(row => row[this.customReturnField]).join(',')
          this.categoryNames = rows.map(row => row['name']).join(',')
          this.categoryIds = idstr
        }
        this.$emit("change", value)
      },
      getCategoryNames(){
        return this.categoryNames
      },
      handleEmpty(){
        this.handleOK('')
      }
    },
    model: {
      prop: 'value',
      event: 'change'
    }
  }
</script>

<style scoped>
  .components-input-demo-presuffix .anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
  }
  .components-input-demo-presuffix .anticon-close-circle:hover {
    color: #f5222d;
  }
  .components-input-demo-presuffix .anticon-close-circle:active {
    color: #666;
  }
</style>