<template>
  <div class="page-header-index-wide">
    <a-row :gutter="24">
      <a-col :sm="24" :md="12" :xl="6" :style="{ marginBottom: '24px' }">
        <chart-card :loading="loading" title="资产总价值" :total="sumValue">
          <div>
            <trend style="margin-right: 16px;">
              <span slot="term">最高资产部门</span>
              {{maxDepart}}
            </trend>
            <trend>
              <span slot="term">最最低资产部门</span>
              {{minDepart}}
            </trend>
          </div>
        </chart-card>
      </a-col>
      <a-col :sm="24" :md="12" :xl="6" :style="{ marginBottom: '24px' }">
        <chart-card :loading="loading" title="资产分类数" :total="categoryNum">
          <div>
            <trend style="margin-right: 16px;">
              <span slot="term">大分类</span>
              {{bigCategory}}
            </trend>
            <trend>
              <span slot="term">小分类</span>
              {{minCategory}}
            </trend>
          </div>
        </chart-card>
      </a-col>
    </a-row>

    <a-row :gutter="24"> 
        <a-col :sm="24" :md="6" :xl="6">
          <a-card title="部门资产分布" :loading="loading" :bordered="false" :style="{ marginTop: '24px' }">
            <ve-pie :data="chartData.depart" :settings="chartSettings"></ve-pie>
          </a-card>
        </a-col>
        <a-col :sm="24" :md="6" :xl="6">
          <a-card title="分类资产分布" :loading="loading" :bordered="false" :style="{ marginTop: '24px' }">
            <ve-pie :data="chartData.category" :settings="chartSettings"></ve-pie>
          </a-card>
        </a-col>
    </a-row>
  </div>
</template>

<script>
import VePie from 'v-charts/lib/pie.common'
import ChartCard from '@/components/ChartCard'
import ACol from 'ant-design-vue/es/grid/Col'
import ATooltip from 'ant-design-vue/es/tooltip/Tooltip'
import MiniArea from '@/components/chart/MiniArea'
import MiniBar from '@/components/chart/MiniBar'
import MiniProgress from '@/components/chart/MiniProgress'
import RankList from '@/components/chart/RankList'
import Bar from '@/components/chart/Bar'
import LineChartMultid from '@/components/chart/LineChartMultid'
import HeadInfo from '@/components/tools/HeadInfo.vue'
import { getChartData } from '@/api/api'
import Trend from '@/components/Trend'
import { getLoginfo, getVisitInfo } from '@/api/api'

const rankList = []
for (let i = 0; i < 7; i++) {
  rankList.push({
    name: '白鹭岛 ' + (i + 1) + ' 号店',
    total: 1234.56 - i * 100
  })
}
const barData = []
for (let i = 0; i < 12; i += 1) {
  barData.push({
    x: `${i + 1}月`,
    y: Math.floor(Math.random() * 1000) + 200
  })
}
export default {
  name: 'IndexChart',
  components: {
    ATooltip,
    ACol,
    ChartCard,
    MiniArea,
    MiniBar,
    MiniProgress,
    RankList,
    Bar,
    Trend,
    LineChartMultid,
    HeadInfo,
    VePie
  },
  data() {
    return {
      loading: true,
      center: null,
      rankList,
      barData,
      loginfo: {},
      visitFields: ['ip', 'visit'],
      visitInfo: [],
      indicator: <a-icon type="loading" style="font-size: 24px" spin />,
      chartSetting: {
        limitShowNum: 10
      },
      chartData: {
        depart: {
          columns: ['日期', '访问用户'],
          rows: [
            { 日期: '1/1', 访问用户: 1393 },
            { 日期: '1/2', 访问用户: 3530 },
            { 日期: '1/3', 访问用户: 2923 },
            { 日期: '1/4', 访问用户: 1723 },
            { 日期: '1/5', 访问用户: 3792 },
            { 日期: '1/6', 访问用户: 4593 }
          ]
        },
        category: {
          columns: ['日期', '访问用户'],
          rows: [
            { 日期: '1/1', 访问用户: 1393 },
            { 日期: '1/2', 访问用户: 3530 },
            { 日期: '1/3', 访问用户: 2923 },
            { 日期: '1/4', 访问用户: 1723 },
            { 日期: '1/5', 访问用户: 3792 },
            { 日期: '1/6', 访问用户: 4593 }
          ]
        },
        sumValue: 0,
        maxValue: 0,
        minValue: 0,
        maxDepart: 0,
        minDepart: 0,
        categoryNum: 0,
        bigCategory: 0,
        minCategory: 0
      }
    }
  },
  created() {
    setTimeout(() => {
      this.loading = !this.loading
    }, 1000)
    this.initLogInfo()
    getChartData().then(res => {
      console.log(1111, res.result)

      this.chartData.depart = res.result.depart
      this.chartData.category = res.result.category
      this.sumValue = res.result.sumValue
      this.maxValue = res.result.maxValue
      this.minValue = res.result.minValue
      this.maxDepart = res.result.maxDepart
      this.minDepart = res.result.minDepart
      this.categoryNum = res.result.categoryNum
      this.bigCategory = res.result.bigCategory
      this.minCategory = res.result.minCategory
    })
  },
  methods: {
    initLogInfo() {
      getLoginfo(null).then(res => {
        if (res.success) {
          Object.keys(res.result).forEach(key => {
            res.result[key] = res.result[key] + ''
          })
          this.loginfo = res.result
        }
      })
      getVisitInfo().then(res => {
        if (res.success) {
          console.log('aaaaaa', res.result)
          this.visitInfo = res.result
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
.circle-cust {
  position: relative;
  top: 28px;
  left: -100%;
}
.extra-wrapper {
  line-height: 55px;
  padding-right: 24px;

  .extra-item {
    display: inline-block;
    margin-right: 24px;

    a {
      margin-left: 24px;
    }
  }
}

/* 首页访问量统计 */
.head-info {
  position: relative;
  text-align: left;
  padding: 0 32px 0 0;
  min-width: 125px;

  &.center {
    text-align: center;
    padding: 0 32px;
  }

  span {
    color: rgba(0, 0, 0, 0.45);
    display: inline-block;
    font-size: 0.95rem;
    line-height: 42px;
    margin-bottom: 4px;
  }
  p {
    line-height: 42px;
    margin: 0;
    a {
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
</style>